@import "./variables";

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: $primary;
}

.container {
  padding-left: 120px !important;
  padding-right: 120px !important;
  .title {
    color: $title;
  }
  .main-title {
    color: $main-title;
  }
}
.input {
  padding: 10px;
  background: rgba($light-blue, 0.2);
  border: 1px solid $light-blue;
  padding-right: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.row {
  display: flex;
}

.text-blue {
  color: blue;
}
.small {
  font-size: 12px;
}
.f-medium {
  font-size: 20px;
}
.text-muted {
  color: $title;
}

.bold-5 {
  font-weight: 500;
}
