$primary: #f5f5f7;
$secondary: #f1f1f3;
$white: #fff;
$main-title: #28293d;
$green-tag: #00ae69;
$blue: #2e5bff;
$light-blue: #e0e7ff;
$grey-white: #e8e8e8;
$grey: #b1b1b8;
$title: #7a7a9d;
$tag-orrange: #ed7200;
$tag-yellow: #edc700;
$light-violet: #e0e7ff;
