$primary: #f1f1f1;
$secondary: #f9f9f9;
$white: #fff;
$main-title: #28293d;
$green-tag: #00ae69;
$blue: #2e5bff;
$light-blue: #e0e7ff;
$grey-white: #e8e8e8;
$grey: #b1b1b8;
$title: #B5B5C3;
$tag-orrange: #ed7200;
$tag-yellow: #edc700;
$light-violet: #e0e7ff;
